Source: clc.
Maintainer: Ilia Abolghasemi <mail@gfaerny.me>
Build-Depends:
 libx11-xcb-dev,
 libxcb-composite0,
 libxcb-composite0-dev,
 libx11-dev,
 libxcursor-dev,
 libxrandr-dev,
 libgl1-mesa-dev,
 libxfixes-dev,
 libxext-dev,
 libxcb-cursor-dev,
 libxi-dev,
 xorg-dev
Standards-Version: 0.1.0
Homepage: https://gfaerny.me/programing-projects/clc/
Vcs-Git: https://github.com/Gfaerny/clc..git
Package: clc.
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: super simple stopwatch for debian
