name: clc.build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: aptgetready
      run: sudo apt install gcc make libx11-dev libx11-xcb-dev
    - name: installdep
      run: ./install_dependency.sh 
    - name: make
      run: make
    
